.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: var(--border2);
}

.container > h1 {
  font-weight: 700;
}

.submit {
  border: 2px solid var(--greenBorder);
  background: var(--green);
  border-radius: var(--br);
  padding: 0.5rem;
  text-transform: lowercase;
  transition: 400ms;
}

.submit:hover {
  background: var(--greenBorder);
}

@media only screen and (max-width: 768px) {
  .container > h1 {
    font-size: 1.5rem;
  }
}