@import url("https://use.typekit.net/qvl8bhx.css");

:root {
  --black: #0A0A0A;
  --dark: #121212;
  --mid: #5A5A5A;
  --light: rgb(255, 207, 231);
  --lightOpaque: rgb(255, 207, 231, 0.1);
  --accent: rgba(220, 125, 180);
  --br: 4px;
  --border1: 1px solid var(--lightOpaque);
  --border2: 2px solid var(--lightOpaque);
  /* --bs: rgba(0, 0, 0, 0.2) 0px 4px 12px; */
  --bs: rgba(0, 0, 0, 0.35) 0px 15px 25px, rgba(0, 0, 0, 0.25) 0px 5px 10px;
  --green: rgb(14, 160, 58, 0.2);
  --greenBorder: rgb(14, 160, 58, 0.5);
  --red: rgb(200, 70, 70, 0.2);
  --redBorder: rgb(200, 70, 70, 0.5);
  --gold: rgb(251, 211, 9, 0.2);
  --goldBorder: rgb(251, 211, 9, 0.4);
  --silver: rgb(130, 130, 130, 0.2);
  --silverBorder: rgb(130, 130, 130, 0.5);
  --orange: rgb(232, 164, 69, 0.2);
  --orangeBorder: rgb(232, 164, 69, 0.5);
  --yellow: rgb(255, 240, 14, 0.2);
  --yellowBorder: rgb(255, 240, 14, 0.5);
  --marginMobile: 0.50rem;
  --marginDesktop: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ofelia-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--light);
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  min-height: 100vh;
}

.App {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  padding-left: var(--marginDesktop);
  padding-right: var(--marginDesktop);
}

h1 {
  color: var(--accent);
}

body {
  min-height: 100vh;
  background: rgb(10,10,10);
  background: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(22,22,22,1) 100%);
}

@media only screen and (max-width: 768px) {
  .App {
    padding-left: var(--marginMobile);
    padding-right: var(--marginMobile);
  }
}

