.scoreCardContainer {
 position: relative;
 padding: 0.5rem;
 padding-bottom: 0.5rem;
 margin-bottom: var(--marginDesktop);
 border: var(--border2);
 border-radius: var(--br);
 grid-template-rows: auto auto;
 box-shadow: var(--bs);
 box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
 max-height: 90px;
 transition: max-height 5s, 400ms;
 background: var(--dark);
}

.scoreCardContainer:hover {
  background: var(--lightOpaque);
}

.scoreCardContainer:hover .imageContainer > img{
  transform: scale(1.1);
}

.scoreCardContainer.menuOpen:hover {
  background: none;
}

.infoContainer {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: right;
  z-index: 20;
}

.imageContainer {
  /* .scoreCardContainer max-height - 20 */
  width: 70px;
  height: 70px;
  grid-column: span 1;
  grid-row: span 2;
  border-radius: var(--br);
  box-shadow: var(--bs);
  object-fit: contain;
  border: 1px solid var(--dark);
  overflow: hidden;
  position: relative;
}

.imageContainer img {
  border-radius: var(--br);
  max-width: 100%;
  height: 100%;
  opacity: 0.9;
  display: block;
  margin: auto;
  position: relative;
  transition: 1s;
}

.queenName {
  grid-column: span 3;
  transform: translateY(-4px);
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.pointsContainer {
  position: absolute;
  height: 30px;
  width: 30px;
  top: -8px;
  left: -8px;
  z-index: 30;
  background: rgb(14, 160, 58);
  border-radius: var(--br);
  display: flex;
  justify-content: center;
  align-items: center;
}

.points {
  font-size: 1rem;
  font-weight: 700;
}

.cross {
  position: absolute;
  height: 8px;
  width: 100px;
  background: rgb(200, 70, 70);
  z-index: 10;
  transform: translate(-16.5px, 30.5px) rotate(45deg);
}

.cross::after {
  content: "";
  display: block;
  height: 8px;
  width: 100px;
  background: rgb(200, 70, 70);
  z-index: 20;
  transform: rotate(90deg);
}

.menuOpen {
  max-height: 500px;
}

@media only screen and (max-width: 768px) {
 .scoreCardContainer {
  max-height: 75px;
  padding: 0.5rem;
  margin-bottom: var(--marginMobile);
 }

 .scoreCardContainer:hover {
  background: var(--lightOpaque);
}

 .menuOpen {
  max-height: 500px;
}

 .imageContainer {
  /* .scoreCardContainer max-height - 20 */
  width: 55px;
  height: 55px;
 }
 
 .queenName {
  font-size: 0.9rem;
 }

 .pointsContainer {
  height: 25px;
  width: 25px;
  top: -4px;
  left: -4px;
 }

 .points {
  font-size: 0.8rem;
}

.cross {
  width: 78px;
  transform: translate(-12.5px, 23px) rotate(45deg);
}

.cross::after {
  width: 78px;
  transform: rotate(90deg);
}
}

/* @media (hover: hover)  {
  .scoreCardContainer:hover {
    background: var(--lightOpaque);
  }
  
  .scoreCardContainer.menuOpen:hover {
    background: none;
  }
}
 */

