.scoreCardContainer {
 padding: 0.5rem;
 padding-bottom: 0.5rem;
 margin-bottom: var(--marginDesktop);
 border: var(--border2);
 border-radius: var(--br);
 grid-template-rows: auto auto;
 box-shadow: var(--bs);
 max-height: 90px;
 transition: max-height 500ms;
 transition-delay: 50ms;
 overflow: hidden;
}

.infoContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: right;
}

.imageContainer {
  width: 70px;
  height: 70px;
  grid-column: span 1;
  grid-row: span 2;
  overflow: hidden;
  border-radius: var(--br);
  box-shadow: var(--bs);
}

.imageContainer img {
  width: 100%;
  opacity: 0.95;
  display: block;
}

.queenName {
  grid-column: span 3;
  transform: translateY(-4px);
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.points {
  grid-column: 4/5;
  font-size: 1.5rem;
  font-weight: 300;
  transform: translateY(3px);
}

.menuOpen {
  max-height: 500px;
}

@media only screen and (max-width: 768px) {
 .scoreCardContainer {
  padding: 0.5rem;
  margin-bottom: var(--marginMobile);
  max-height: 80px;
 }
 
 .queenName {
  font-size: 0.9rem;
 }

 .imageContainer {
  width: 60px;
  height: 60px;
}
}


