.listItem {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-bottom: var(--border1);
}

.number {
  font-size: 1.5rem;
  color: var(--accent);
}

.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.2rem;
  margin-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.houseContainer {
  margin-left: 2rem;
  position: relative;
  transform: translateY(7px);
}


/* house label */
.houseName::before {
  content: "haus of";
  position: absolute;
  color: var(--lightOpaque);
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  top: -19px;
  left: -10px;
}

.houseName {
  font-size: 1rem;
  margin-right: 1rem;
}

.points {
  margin-left: auto;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  width: 70px;
  font-weight: 700;
  text-align: center;
  border-radius: var(--br);
  color: var(--dark);
  background: var(--accent);
}

@media only screen and (min-width: 1024px) {
  .name::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 45px;
    background: var(--accent);
    transform: translateX(26px) rotate(15deg);
    border-radius: var(--br);
  }

  .name {
    margin-inline: 2rem;
  }
}