.listItem {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  transition: 300ms;
}

.listItem:hover {
  background: var(--lightOpaque);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border: var(--border2);
  border-radius: var(--br);
  margin-right: 1rem;
  transform: translateY(1px);
}

.checkbox::after {
  content: "";
  width: 6px;
  height: 6px;
  background: var(--light);
  border-radius: 1px;
  display: none;
}

.listItem.checked .checkbox::after {
  display: block;
}

.listItem.disabled .itemText{
  color: var(--mid);
}
